In [1]:
print('My email: 096734e4e895023ec23522abe7e0a0ffcec20c68')

My email: 096734e4e895023ec23522abe7e0a0ffcec20c68

In [2]:
import pandas as pd
import numpy as np
import wget

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(url)

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df_f = df[
    df['ocean_proximity'] == 'INLAND' 
]
df_f = pd.concat( [df[df['ocean_proximity'] == '<1H OCEAN'], df_f ] )
df_f

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [6]:
df_f.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
df_f = df_f.fillna(0)

In [8]:
df_f.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
seed=1

In [10]:
df_f['median_house_value'] = np.log1p(df_f['median_house_value'])

In [11]:
df_f

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,12.973866,<1H OCEAN
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,12.287657,<1H OCEAN
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,12.419574,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,12.554971,<1H OCEAN
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,12.287196,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,11.265758,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,11.252872,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,11.432810,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,11.346883,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,11.400887,INLAND

In [12]:
df_full_train, df_test = train_test_split(df_f, test_size=0.2, random_state=seed)
df_train, df_val = train_test_split(df_full_train, test_size=0.2, random_state=seed)

In [13]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [14]:
y_train = df_train['median_house_value'].astype('int').values
y_val = df_val['median_house_value'].astype('int').values
y_test = df_test['median_house_value'].astype('int').values

In [15]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [16]:
from sklearn.feature_extraction import DictVectorizer

In [17]:
dv = DictVectorizer(sparse=False)
train_dict = df_train.to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import roc_auc_score
from sklearn.tree import export_text

In [19]:
dt = DecisionTreeClassifier(max_depth=1)
dt.fit(X_train, y_train)
print(export_text(dt, feature_names=list(dv.get_feature_names_out())))

|--- ocean_proximity=<1H OCEAN <= 0.50
|   |--- class: 11
|--- ocean_proximity=<1H OCEAN >  0.50
|   |--- class: 12

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
rf = RandomForestClassifier(n_estimators=10, random_state=1, n_jobs=-1)
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, n_jobs=-1, random_state=1)

In [22]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [23]:
y_pred = rf.predict_proba(X_val)[:, 1]
mse = mean_squared_error(y_val, y_pred)
rmse = sqrt(mse)
print("RMSE:", rmse)

RMSE: 11.126752156214172

In [24]:
scores = []
for n in range(10, 201, 10):
    rf = RandomForestClassifier(n_estimators=n,random_state=1, n_jobs=-1)
    rf.fit(X_train, y_train)

    y_pred = rf.predict_proba(X_val)[:, 1]
    mse = mean_squared_error(y_val, y_pred)
    rmse = sqrt(mse)

    scores.append((n,rmse))

In [25]:
scores

[(10, 11.126752156214172),
 (20, 11.126143479440646),
 (30, 11.125364699992327),
 (40, 11.12408088552977),
 (50, 11.123921647903012),
 (60, 11.1241605768335),
 (70, 11.123809669183668),
 (80, 11.123776495010864),
 (90, 11.123914248198293),
 (100, 11.123548573567964),
 (110, 11.12327389394801),
 (120, 11.123217375371652),
 (130, 11.123356979225367),
 (140, 11.123184305943697),
 (150, 11.123327532143406),
 (160, 11.123662511508753),
 (170, 11.124005309877818),
 (180, 11.123771271810647),
 (190, 11.124244954369441),
 (200, 11.12452923709637)]

In [26]:
scores = []

for d in [10, 15, 20, 25]:
    for n in range(10, 201, 10):
        rf = RandomForestClassifier(n_estimators=n,
                                    max_depth=d,
                                    random_state=1, n_jobs=-1)
        rf.fit(X_train, y_train)

        y_pred = rf.predict_proba(X_val)[:, 1]
        mse = mean_squared_error(y_val, y_pred)
        rmse = sqrt(mse)

        scores.append((d,n,rmse))

In [27]:
columns = ['max_depth', 'n_estimators', 'rmse']
df_scores = pd.DataFrame(scores, columns=columns)

In [30]:
df_scores[df_scores['max_depth'] == 10].mean()

max_depth        10.000000
n_estimators    105.000000
auc              11.120812
dtype: float64

In [31]:
df_scores[df_scores['max_depth'] == 15].mean()

max_depth        15.000000
n_estimators    105.000000
auc              11.122141
dtype: float64

In [32]:
df_scores[df_scores['max_depth'] == 20].mean()

max_depth        20.00000
n_estimators    105.00000
auc              11.12377
dtype: float64

In [33]:
df_scores[df_scores['max_depth'] == 25].mean()

max_depth        25.000000
n_estimators    105.000000
auc              11.124454
dtype: float64